*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
 }
/* header area */
header{
    width: 100%;
    margin:auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    background-color: #fff;
    z-index: 50;
}
header nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    padding: 10px 0;
    left: 10%;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    border-right: 1px solid gray;
    padding-right: 10px;
    font-size: 14px;
}
header nav .nav-2-container{
    display: flex;
    gap: 10px;
}

header nav h3{
    font-weight: bolder;
}
header nav .nav-3{
    display: flex;
    flex-shrink: initial;
    font-size: 14px;
}
header nav .nav-3 img{
    width: 22px;
    height: 22px;
}
/* box div */
.box{
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box .box-container{
    display: flex;
    height: 80%;
    width: 100%;
}
.box .box-container #left-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box .box-container #left-box h1{
    width: 80%;
}
.box .box-container #left-box #icon{
    display: flex;
    gap: 10px;
}
.box .box-container #left-box #icon .open{
    color: gray;
    font-size: 10px;
    font-weight: 100;
}
.box .box-container #left-box #icon .days{
    font-size: 11px;
    font-weight: bolder;
}
.box .box-container #right-box{
    width: 50%;
    background-image: url(./img//Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.box .box-container #right-box .service{
    position: absolute;
    left: -20%;
    padding-top: 12vh;
    top: 0;
}
.box .box-container #right-box .rating{
    position: absolute;
    right: -20%;
    bottom: 0;
}
button{
    background-color: #ff6433;
    color: #ede4e4;
    padding: 7px 9px;
    border-radius: 8px;
    border: #939191;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-bottom: 20px; 
}
button:hover{
    background-color: #1E1B1B;
    transition: all ease-in-out 0.9s;
    cursor: pointer;
    transform: scale(1.1);
    color: #FF6433;
}
/* taking car servicing serious */
.parent-container{
    background: #E2E6E9;
    height: 100vh;
}
/* .parent-container  */
.parent-flex{
    width: 80%;;;;;;;;;;;;;;;;;;;;;;;;;;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
}
/* service left box specifically */
/* .parent-container .parent-flex  */
.parent-left{
    width: 45%;
    margin: auto;;;;;;;
}
.parent-container .parent-flex .parent-left .service{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
.parent-container .parent-flex .parent-left .service img{
    margin-right: 10px;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border-radius: 50px;
    border: 3px solid #fff;
}
.parent-container .parent-flex .parent-left .service p{
    font-size: 14px;
    padding-top: 3px;
    color: #1E1B1B;
    opacity: 60%;
}
/* arrow pointer */
.parent-container .parent-flex .parent-left .service .arrow img{
    width: 20px;
    background-color: #E2E6E9;
    border: none;
    color: #1E1B1B;
    width: 20px;
    height: 5px;
    font-weight: bolder;
    margin-left: 10px;
}

.parent-container .parent-flex .parent-left .service .arrow{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* service right box specifically */
/* .parent-container .parent-flex  */
.parent-right{
    width: 45%;
    margin: auto;
}
.parent-container .parent-flex .parent-right form{
    padding-top: 20px;
}

.parent-container .parent-flex .parent-right form input{
    margin-bottom: 1px;
    border: none;
    width: 100%;
    padding: 10px 0 10px 20px;
}

/* another section */
.parent-white{
    background-color: #ffffff;
    height: auto;
}
.parent-white h1, p{
    padding-bottom: 10px;
}
.parent-white p{
    color: #1E1B1B;
    width: 50%;
    opacity: 65%;
    font-size: 14px;
}
.parent-white h4{
    padding-bottom: 5px;
}

.parent-white h3{
    margin-right: 15px;
    background-color: #661CE7;
    padding-top: 2px;
    color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 30px;
    text-align: center;
    align-items: center;
    font-size: 15px;
}

.parent-white #parent-right-container #number{
    display: flex;
}
#parent-right-container #flex-inner-numbe{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section what we offer */
.parent-container-ht{
    height: 100vh;
    background: #F2F2F2;
    align-items: center;
    display: flex;
}
.parent-container-ht .auto-repair{
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

.parent-container-ht .auto-repair .offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px auto auto auto;
    width: 100%;;;;;;;
}
.parent-container-ht .auto-repair .offer #offer-box:hover{
    background-color: #FF6433;
    color: #ffffff;
    width: 20%;
    border-radius: 10px;
    transition:all ease-in-out 0.9s;
    transform: scale(1);
    cursor: pointer;

}

.parent-container-ht .auto-repair .offer #offer-box{
    width: 22%;
    background-color: #ffffff;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parent-container-ht .auto-repair .offer #offer-box img{
    padding-bottom: 10px;
}
#offer-box + #offer-box{
    margin: 3px;
}
.offer-arrow{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
}
.offer-arrow img{
    width: 20px;
    background-color: #E2E6E9;
    border: none;
    color: #1E1B1B;
    width: 20px;
    height: 5px;
    font-weight: bolder;
    margin-left: 10px;
}

/* splash section */
.splash-container{
    height: auto;
    background-color:#F2F2F2;
}

.splash-container .splash{
    display: flex;
    height: 47vh;
    
}
.splash #splash-1{
    background: url(./img/Image\ 1.png);
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
}
.splash #splash-2{
    background-color: #FF6433;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#splash-2 div{
    width: 80%;
    margin: auto;

}
.splash #splash-3{
    background: url(./img/ovGrEUgrkyE.png);
    background-repeat: no-repeat;
    width: 45%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.splash-container .splash-rating-container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
#splash-rating h3{
    font-size: 25px;
    font-weight: bolder;
    color: #661CE7;
}
#splash-rating p{
    font-size: 18px;
    color:#1E1B1B;
}

/* media query */
@media screen and (max-width : 450px) {
    /* header */
    header nav{
        width: 100%;
        margin: auto;
        display: block;
    }
    header nav h3{
        text-align: center;
        padding: 3px 0 6px 0;
        font-size: 18px;
    }
    header nav .nav-2-container{
        display: block;
        justify-content: center;
        align-items: center;
    }
    header nav ul{
        width: 90%;
        margin: auto;
        border: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }
    header nav ul li{
        gap: 10px;
        font-weight: bold;
    }
    header nav .nav-3{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding-top: 4px;
        font-weight: bold;
    }
    header nav .nav-3 p{
        padding: 1px;
    }
    /* europage */
    .box{
        width: 100%;
        margin: auto;
        position: relative;
        height: auto;
        text-align: center;
    }
    .box .box-container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }
    .box .box-container #right-box .rating {
        right: 0%;
    }
    .box .box-container #right-box .service {
        left: -16%;
        padding-top: 12vh;
        top: 14%;
    }
    .box .box-container #right-box{
        width: 100%;
        height: 70vh;
    }
    .box .box-container #left-box{
        width: 85%;
        margin: auto;
        height: 30vh;
    }
    .box .box-container #left-box h1{
        width: 100%;
        margin: auto;
        font-size: 25px;
        font-weight: bolder;
    }
    .box .box-container #left-box .btn-div{
        display: block;
        justify-content: center;
        align-items: center;
    }

    /* .parent-container  */
    .parent-container{
        background: #E2E6E9;
        height: auto;
    }
    .parent-flex{
    width: 95%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    }
    /* service left box specifically */
/* .parent-container .parent-flex  */
    .parent-left{
    width: 97%;
    margin: auto;;;;;;;
    padding-top: 20px;
    }

    /* service right box specifically */
/* .parent-container .parent-flex  */
.parent-right{
    width: 97%;
    margin: auto;
}
.parent-white{
    height: auto;
}
.parent-white p{
    color: #1E1B1B;
    width: 99%;
    opacity: 65%;
    font-size: 15px;
}

.splash-container .splash-rating-container{
    width: 100%;
    padding: 10px 10px;
}
#splash-rating p{
    font-size: 14px;
    font-weight: bolder;
}
.box .box-container #left-box #icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.box .box-container #left-box #icon img{
    width: 20px;
    padding-top: 20px;
}

.parent-container-ht .auto-repair .offer #offer-box{
    width: 44%;
    height: 15vh;
}

.parent-container-ht .auto-repair .offer #offer-box:hover{
    width: 48%;
}
.parent-container-ht{
    height: 85vh;
}
.splash-container .splash-rating-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#splash-rating{
    width: 44%;
}
#splash-rating h3{
    font-size: 22px;
    font-weight: bolder;
    color: #661CE7;
}
#splash-rating p{
    font-size: 15px;
}
}

@media screen and (min-width:451px) and (max-width:850px) {
    
    header nav h3{
        text-align: center;
        padding: 3px 0 6px 0;
        font-size: 22px;
    }
    header nav{
        width: 80%;
        margin: auto;
        display: block;
    }
    header nav .nav-2-container{
        display: block;
        justify-content: center;
        align-items: center;
    }
    header nav ul{
        margin: auto;
        border: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
    }
    header nav .nav-3{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        padding-top: 4px;
        font-weight: 600;
    }
    .splash-container .splash-rating-container{
        display: flex;
        flex-wrap: wrap;
    }
    #splash-rating{
        width: 40%;
    }
    #splash-rating h3{
        font-size: 18px;
        font-weight: bolder;
        color: #661CE7;
    }
    #splash-rating p{
        font-size: 12px;
    }

    .parent-container{
        background: #E2E6E9;
        height: auto;
    }
    .parent-flex{
    width: 95%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    }
    /* service left box specifically */
/* .parent-container .parent-flex  */
    .parent-left{
    width: 97%;
    margin: auto;;;;;;;
    padding-top: 20px;
    }
    .parent-right{
        width: 97%;
        margin: auto;
    }

    .parent-white{
        height: auto;
    }
    .parent-white p{
        color: #1E1B1B;
        width: 99%;
        opacity: 65%;
        font-size: 15px;
    }

    .parent-container-ht .auto-repair .offer #offer-box{
        width: 44%;
        height: 15vh;
    }
    
    .parent-container-ht .auto-repair .offer #offer-box:hover{
        width: 48%;
    }
}